openapi: 3.0.3
info:
  title: "Подари мне"
  description: API для Telegram Mini-App управления вишлистами и подарками
  version: 1.0.0
  contact:
    name: Development Team
    email: dev@podarimne.ru

servers:
  - url: https://api.podarimne.ru/v1
    description: Production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
  
    User:
      type: object
      required:
        - id
        - name
        - telegram_id
      properties:
        id:
          type: integer
          format: int64
          example: 123456789
        telegram_id:
          type: integer
          format: int64
          example: 123456789123
        name:
          type: string
          example: "Иванов Иван Иванович"
        photo:
          type: string
          nullable: true
          example: "https://t.me/i/userpic/..."
        birth_date:
          type: string
          format: date
          nullable: true
          example: "1990-01-01"
        theme:
          type: string
          enum: [WHITE, DARK]
          example: "WHITE"
        text_size:
          type: integer
          format: int64
          example: 14
        show_sub:
          type: boolean
          default: false
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    AuthRequest:
      type: object
      required:
        - initData
        - user
      properties:
        initData:
          type: string
          description: Telegram Web App initData
        user:
          type: object
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            username:
              type: string
            photo_url:
              type: string
            language_code:
              type: string

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'
    
    Wish:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        user_id:
          type: integer
        name:
          type: string
          maxLength: 100
        photo:
          type: string
          nullable: true
        url_gift:
          type: string
          maxLength: 2048
          nullable: true
        price:
          type: number
          format: float
          minimum: 0
          maximum: 10000000
          nullable: true
        currency:
          type: string
          enum: [RUB, BYN, USD, EUR, UAH, KZT]
          nullable: true
        description:
          type: string
          maxLength: 500
        status:
          type: boolean
          default: false
        created_at:
          type: string
          format: date-time
        updated_ad:
          type: string
          format: date-time

    Wishlist:
      type: object
      required:
        - id
        - name
        - privacy
      properties:
        id:
          type: integer
        user_id:
          type: integer
        name:
          type: string
          maxLength: 50
        description:
          type: string
          maxLength: 250
          nullable: true
        photo:
          type: string
          nullable: true
        tipe_privacy:
          type: string
          enum: [private, limited, public]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DashboardResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        wishlists:
          type: array
          items:
            $ref: '#/components/schemas/Wishlist'
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/User'
        followers:
          type: array
          items:
            $ref: '#/components/schemas/User'

    AccessRequest:
      type: object
      properties:
        id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        wishlist:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        status:
          type: string
          enum: [pending, approved, rejected]
        created_at:
          type: string
          format: date-time
        processed_at:
          type: string
          format: date-time

paths:

  /dashboard/{user_id}:
    get:
      summary: "Получить данные для главной страницы"
      description: |
        Возвращает все необходимые данные для отображения главной страницы пользователя.
        Включает: профиль, вишлисты, подписки, подписчиков, уведомления и статистику.
      tags:
        - "Главная страница"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Данные для главной страницы"
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/DashboardResponse'
        '401':
          description: "Не авторизован"

  /auth/telegram:
    post:
      summary: "Регистрация/авторизация через Telegram"
      tags:
        - "Аутентификация"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: "Успешная авторизация"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: "Неверные данные"

  /users/me:
    get:
      summary: "Получить профиль текущего пользователя"
      tags:
        - "Пользователи"
      security:
        - BearerAuth: []
      responses:
        '200':
          description: "Успешное получение профиля"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: "Не авторизован"
    put:
      summary: "Обновить профиль пользователя"
      tags:
        - "Пользователи"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 40
                photo_url:
                  type: string
                birth_date:
                  type: string
                  format: date
      responses:
        '200':
          description: "Профиль успешно обновлен"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: "Неверные данные"

  /users/{user_id}/share:
    get:
      summary: "Получить ссылку для sharing профиля"
      tags:
        - "Пользователи"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Ссылка для sharing"
          content:
            application/json:
              schema:
                type: object
                properties:
                  share_url:
                    type: string

  /users/{user_id}:
    get:
      summary: "Получить профиль текущего пользователя"
      tags:
        - "Пользователи"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Успешное получение профиля"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: "Пользователь не найден"

  /users/{user_id}/block:
    post:
      summary: "Заблокировать пользователя"
      tags:
        - "Пользователи"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Пользователь заблокирован"
        '404':
          description: "Пользователь не найден"

    delete:
      summary: "Разблокировать пользователя"
      tags:
        - "Пользователи"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Пользователь разблокирован"
        '404':
          description: "Пользователь не найден"
                

  /users/{user_id}/profile:
   get:
      summary: "Получить информацию о пользователе"
      tags:
        - "Пользователи"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Информация о пользователе"
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/DashboardResponse'
              
        '404':
          description: "Пользователь не найден"

  /wishes:
    get:
      summary: "Получить список желаний пользователя"
      tags:
        - "Желания"
      security:
        - BearerAuth: []
      responses:
        '200':
          description: "Список желаний"
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wish'

    post:
      summary: "Создать новое желание"
      tags:
        - "Желания"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  maxLength: 100
                photo:
                  type: string
                url_gift:
                  type: string
                  maxLength: 2048
                price:
                  type: number
                  minimum: 0
                  maximum: 10000000
                currency:
                  type: string
                  enum: [RUB, BYN, USD, EUR, UAH, KZT]
                description:
                  type: string
      responses:
        '201':
          description: "Желание создано"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wish'
        '400':
          description: "Неверные данные"

  /wishes/{wish_id}:
    get:
      summary: "Получить информацию о желании"
      tags:
        - "Желания"
      security:
        - BearerAuth: []
      parameters:
        - name: wish_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Информация о желании"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wish'
        '404':
          description: "Желание не найдено"

    put:
      summary: "Обновить желание"
      tags:
        - "Желания"
      security:
        - BearerAuth: []
      parameters:
        - name: wish_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100

                photo:
                  type: string
                url_gift:
                  type: string
                  maxLength: 2048
                price:
                  type: number
                  minimum: 0
                  maximum: 10000000
                currency:
                  type: string
                  enum: [RUB, BYN, USD, EUR, UAH, KZT]
                description:
                  type: string
                  maxLength: 500
                status:
                  type: boolean
      responses:
        '200':
          description: "Желание обновлено"
        '404':
          description: "Желание не найдено"

    delete:
      summary: "Удалить желание"
      tags:
        - "Желания"
      security:
        - BearerAuth: []
      parameters:
        - name: wish_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Желание удалено"
        '404':
          description: "Желание не найдено"

  /wishlists:
    get:
      summary: "Получить список вишлистов пользователя"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      responses:
        '200':
          description: "Список вишлистов"
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishlists:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wishlist'
                  total:
                    type: integer

    post:
      summary: "Создать новый вишлист"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - privacy
              properties:
                name:
                  type: string
                  maxLength: 50
                description:
                  type: string
                  maxLength: 250
                photo:
                  type: string
                privacy:
                  type: string
                  enum: [private, limited, public]
      responses:
        '201':
          description: "Вишлист создан"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wishlist'

  /wishlists/{wishlist_id}:
    get:
      summary: "Получить информацию о вишлисте"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Информация о вишлисте"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wishlist'
        '403':
          description: "Нет доступа к вишлисту"
        '404':
          description: "Вишлист не найден"

    put:
      summary: "Обновить вишлист"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 50
                description:
                  type: string
                  maxLength: 250
                photo:
                  type: string
                privacy:
                  type: string
                  enum: [private, limited, public]
      responses:
        '200':
          description: "Вишлист обновлен"
        '404':
          description: "Вишлист не найден"

    delete:
      summary: "Удалить вишлист"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Вишлист удален"
        '404':
          description: "Вишлист не найден"

  /wishlists/{wishlist_id}/share:
    get:
      summary: "Получить ссылку для sharing вишлиста"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Ссылка для sharing вишлиста"
          content:
            application/json:
              schema:
                type: object
                properties:
                  share_url:
                    type: string
                  accessible:
                    type: boolean
                  message:
                    type: string

  /wishlists/{wishlist_id}/wishes:
    get:
      summary: "Получить желания в вишлисте"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Список желаний в вишлисте"
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wish'
                  total:
                    type: integer

    post:
      summary: "Добавить желание в вишлист"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wish_id
              properties:
                wish_id:
                  type: integer
      responses:
        '200':
          description: "Желание добавлено в вишлист"
        '404':
          description: "Вишлист или желание не найдено"

  /subscriptions:
    get:
      summary: "Получить подписки пользователя"
      tags:
        - "Подписки"
      security: 
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [users, wishlists, all]
            default: all
      responses:
        '200':
          description: "Список подписок"
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/User'
                      - $ref: '#/components/schemas/Wishlist'
                  total:
                    type: integer
  
  /subscribers/search/{subscriber_id}:
    get:
      summary: "Поиск подписчика"
      tags:
        - "Подписки"
      security:
        - BearerAuth: [] 
      parameters:
        - name: subscriber_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Подписчик найден"
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/User'
        '404':    
          description: "У вас нету такого подписчика"


  /subscriptions/{target_type}/{target_id}:
    post:
      summary: "Подписаться"
      tags:
        - "Подписки"
      security:
        - BearerAuth: []
      parameters:
        - name: target_type
          in: path
          required: true
          schema:
            type: string
            enum: [users, wishlists]
        - name: target_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: "Подписка оформлена"
        '409':
          description: "Уже подписаны"
        '404':
          description: "Не найден"
  
    delete:
      summary: "Отписаться"
      tags:
        - "Подписки"
      security:
        - BearerAuth: []
      parameters:
        - name: target_type
          in: path
          required: true
          schema:
            type: string
            enum: [users, wishlists]
        - name: target_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Подписка отменена"
        '404':
          description: "Подписка не найдена"

  /wishes/{wish_id}/reserve:
    post:
      summary: "Забронировать желание"
      tags:
        - "Желания"
      security:
        - BearerAuth: []
      parameters:
        - name: wish_id
          in: path
          required: true
          schema:
            type: integer
        - name: wishlist_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: "Успешно забронировано"
        '409':
          description: "Уже забронировано"
        '404':
          description: "Желание не найдено"
  
    delete:
      summary: "Удалить бронь"
      tags:
        - "Желания"
      security:
        - BearerAuth: []
      parameters:
        - name: wish_id
          in: path
          required: true
          schema:
            type: integer
        - name: wishlist_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Отменить бронь"
        '404':
          description: "Бронь не найдена"

  /wishes/{wish_id}/pin:
    post:
      summary: "Закрепить желание в вишлисте"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wish_id
          in: path
          required: true
          schema:
            type: integer
        - name: wishlist_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: "Успешно закреплено"
        '409':
          description: "Уже закреплено"
        '404':
          description: "Желание не найдено"
  
    delete:
      summary: "Открепить желание в вишлисте"
      tags:
        - "Вишлисты"
      security:
        - BearerAuth: []
      parameters:
        - name: wish_id
          in: path
          required: true
          schema:
            type: integer
        - name: wishlist_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Желание откреплено"
        '404':
          description: "Желание не найдено"
  
  /settings/notifications:
    put:
      summary: "Обновить настройки уведомлений"
      tags:
        - "Настройки"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_followers:
                  type: boolean
                access_requests:
                  type: boolean
                birt_after:
                  type: boolean
                birt_before:
                  type: boolean

      responses:
        '200':
          description: "Настройки обновлены"
        '400':
          description: "Неверные данные"

  /settings/interface:
    put:
      summary: "Обновить настройки интерфейса"
      tags:
        - "Настройки"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text_size:
                  type: integer
                theme:
                  type: string
                  enum: [WHITE, DARK]
                sub_show:
                  type: boolean
                  default: false
      responses:
        '200':
          description: "Настройки обновлены"
        '400':
          description: "Неверные данные"
  /settings:
      get:
        summary: "Получить настройки пользователя"
        tags:
          - "Настройки"
        security:
          - BearerAuth: []
        responses:
          '200':
            description: "Настройки пользователя"
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    notifications:
                      type: object
                      properties:
                        new_followers:
                          type: boolean
                        access_requests:
                          type: boolean
                        birt_after:
                          type: boolean
                        birt_before:
                          type: boolean
                    interface:
                      type: object
                      properties:
                        text_size:
                          type: integer
                        theme:
                          type: string
                          enum: [WHITE, DARK]
                        sub_show:
                          type: boolean
                          default: false
  /questionnaire:
    get:
      summary: "Получить анкету пользователя"
      tags:
        - "Анкета"
      security:
        - BearerAuth: []
      responses:
        '200':
          description: "Данные анкеты"
          content:
            application/json:
              schema:
                type: object
                properties:
                  interests:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                        details:
                          type: string
                          nullable: true
                  avoid_gifts:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                        details:
                          type: string
                          nullable: true
        '404':
          description: "Анкета не найдена"

    post:
      summary: "Сохранить анкету"
      tags:
        - "Анкета"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - interests
                - avoid_gifts
              properties:
                interests:
                  type: array
                  minItems: 3
                  maxItems: 20
                  items:
                    type: object
                    required:
                      - tag
                    properties:
                      tag:
                        type: string
                        maxLength: 25
                      details:
                        type: string
                        maxLength: 100
                avoid_gifts:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: object
                    required:
                      - tag
                    properties:
                      tag:
                        type: string
                        maxLength: 25
                      details:
                        type: string
                        maxLength: 100
      responses:
        '200':
          description: "Анкета сохранена"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: "Неверные данные анкеты"

    put:
      summary: "Обновить анкету"
      tags:
        - "Анкета"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - interests
                - avoid_gifts
              properties:
                interests:
                  type: array
                  minItems: 3
                  maxItems: 20
                  items:
                    type: object
                    required:
                      - tag
                    properties:
                      tag:
                        type: string
                        maxLength: 25
                      details:
                        type: string
                        maxLength: 100
                avoid_gifts:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: object
                    required:
                      - tag
                    properties:
                      tag:
                        type: string
                        maxLength: 25
                      details:
                        type: string
                        maxLength: 100
      responses:
        '200':
          description: "Анкета обновлена"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: "Неверные данные анкеты"

  /questionnaire/{user_id}:
    get:
      summary: "Получить анкету пользователя"
      tags:
        - "Анкета"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Данные анкеты"
          content:
            application/json:
              schema:
                type: object
                properties:
                  interests:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                        details:
                          type: string
                          nullable: true
                  avoid_gifts:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                        details:
                          type: string
                          nullable: true
        '404':
          description: "Анкета не найдена"


  /access-requests/{wishlist_id}/:
    get:
      summary: "Получить заявки на доступ к моему вишлисту"
      description: "Просмотр всех заявок на конкретный мой вишлист"
      tags:
        - "Заявки"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
      responses:
        '200':
          description: "Список заявок на мой вишлист"
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    items:
                        $ref: '#/components/schemas/AccessRequest'
  
    post:
      summary: "Отправить заявку на доступ к вишлисту"
      tags:
        - "Заявки"
      security:
        - BearerAuth: []
      parameters:
        - name: wishlist_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: "Заявка отправлена"
  
  /access-requests:
    get:
      summary: "Получить все заявки на мои вишлисты"
      description: "Просмотр всех входящих заявок на все мои вишлисты"
      tags:
        - "Заявки"
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
      responses:
        '200':
          description: "Все заявки на мои вишлисты"
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishlists:
                    type: array
                    items:
                      type: object
                      properties:
                        wishlist_id:
                          type: integer
                        wishlist_name:
                          type: string
                        requests:
                          type: array
                          items:
                            $ref: '#/components/schemas/AccessRequest'

  /access-requests/{request_id}:
    patch:
      summary: "Одобрить/отклонить заявку на доступ"
      description: "Изменение статуса заявки на доступ к моему вишлисту"
      tags:
        - "Заявки"
      security:
        - BearerAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [approved, rejected]
                  example: "approved"
      responses:
        '200':
          description: "Статус заявки обновлен"
        '404':
          description: "Заявка не найдена"

  /access-requests/my:
    get:
      summary: "Получить мои отправленные заявки"
      description: "Просмотр всех заявок, которые я отправил на доступ к чужим вишлистам"
      tags:
        - "Заявки"
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
      responses:
        '200':
          description: "Список моих отправленных заявок"
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        wishlist:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            owner:
                              $ref: '#/components/schemas/User'
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time


  /notifications:
    get:
      summary: "Получить уведомления"
      tags:
        - "Уведомления"
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: "Список уведомлений"
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                          enum: [birthday_reminder, new_follower, access_request, system]
                        title:
                          type: string
                        message:
                          type: string
                        is_read:
                          type: boolean
                        created_at:
                          type: string
                          format: date-time
                  total:
                    type: integer

  /notifications/read:
    post:
      summary: "Отметить несколько уведомлений как прочитанные"
      tags:
        - "Уведомления"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_ids:
                  type: array
                  items:
                    type: integer
                mark_all:
                  type: boolean
                  default: false
      responses:
        '200':
          description: "Уведомления отмечены как прочитанные"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  marked_count:
                    type: integer

 
  /recommendations/{user_id}:
    get:
      summary: "Получить популярные подарки по категориям"
      tags:
        - "Рекомендации"
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Список популярных подарков"
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        price:
                          type: number
                        currency:
                          type: string
                        category:
                          type: string
