version: '3.8'
services:
  backend:
    build: ./backend
    env_file:
      - ENV/.env 
    # volumes:
    # - ./backend/:/app
    ports:
      - "8080:80"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
      POSTGRES_DB: telegram_app_db
    ports:
      - "5437:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: